body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.gallery {
    margin: 20px;
}

h2 {
    text-align: center;
    font-family: 'Yeseva One', cursive;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid img:nth-child(n + 10) {
    display: none; /* Masque les images à partir de la 10ème */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }
}
