body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e; /* Bleu très foncé presque noir */
    color: white; /* Texte blanc par défaut */
}

header {
    display: flex;
    flex-direction: column; /* Permet de séparer la barre de contenu */
    align-items: center;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Occupe toute la largeur */
}

h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em; /* Diminuer la taille de la police */
    font-weight: normal; /* Mettre le texte en gras */
}

.social-icons {
    margin-left: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px; /* Taille des icônes */
}

.divider {
    height: 2px;
    background-color: white;
    width: 100%; /* S'étend sur toute la largeur */
    margin-top: 10px;
}

.introduction {
    padding: 20px;
    text-align: left; /* Aligner le texte à gauche */
}

.greeting, .description {
    font-size: 2em; /* Taille plus grande pour les deux premières phrases */
    font-weight: bold; /* Mettre le texte en gras */
    margin: 0; /* Enlever les marges par défaut */
    font-family: 'Yeseva One'; /* Police plus originale */
}

.engagement {
    color: #00ff7f; /* Couleur vert slime */
    font-size: 2em; /* Taille par défaut */
    font-weight: bold; /* Mettre le texte en gras */
    margin-top: 10px; /* Un peu d'espace au-dessus */
    font-family: 'Yeseva One'; /* Utiliser la même police pour l'engagement */
}

footer {
    text-align: center;
    padding: 20px;
}
