body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e; /* Bleu très foncé presque noir */
    color: white; /* Texte blanc par défaut */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    margin: 0;
}

.social-icons {
    margin-left: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px; /* Taille des icônes */
}

.divider {
    height: 2px;
    background-color: white;
    margin-top: 10px;
}

.introduction {
    padding: 20px;
}

.greeting, .description {
    font-size: 1.5em; /* Taille plus grande pour les deux premières phrases */
}

.engagement {
    color: #00ff7f; /* Couleur vert slime */
    font-size: 1.2em; /* Taille par défaut */
    margin-top: 10px; /* Un peu d'espace au-dessus */
}

footer {
    text-align: center;
    padding: 20px;
}